In [4]:
# Dependencies and Setup
import pandas as pd
from pymongo import MongoClient
from pprint import pprint

# File to Load
file1 = "project3.csv"

# Read the File into Pandas DataFrames
projectDF= pd.read_csv(file1) 
projectDF.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,0,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,0,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4

In [5]:
#create a new dataframe
reduced_DF = projectDF[[
          "Diabetes_012",
          "HighBP",
          "HighChol",
          "Smoker",
          "Stroke",
          "HeartDiseaseorAttack",
]]


reduced_DF.head()

   Diabetes_012  HighBP  HighChol  Smoker  Stroke  HeartDiseaseorAttack
0             0       1         1       1       0                     0
1             0       0         0       1       0                     0
2             0       1         1       0       0                     0
3             0       1         0       0       0                     0
4             0       1         1       0       0                     0

In [6]:
# convert the dataframe to a list of dictionaries to be prepared to import into MongoDB
reduced_data= reduced_DF.to_dict('records')

In [7]:
# create an instance of MongoClient
mongo = MongoClient(port=27017)
# make a reference to the new database named "project3" with the collection named test_project3
db = mongo.project3
collection = db.test_project3

In [8]:
# use insert_many() to insert data from the extracted DataFrame info
collection.insert_many(reduced_data)

In [ ]:
# query the collection in collection
results = collection.find()

for collection in results:
    pprint(collection)